#main-container{
    background-color: antiquewhite;
    border: 3px dotted red;
    width: 700px;
    height: 600px;
    text-align: center;
    padding: 50px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;

}
h1{
    color: blue;
}
input{
    width: 550px;
    height: 35px;
    padding-left: 15px;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}
p{
    height: 30px;
}
#city-name{
    background-color: rgb(194, 227, 239);
}
#city-box{
    border: 1px solid yellowgreen;
    ;

}
#valid{
    background-color: red;
    color: antiquewhite;
    font-size:x-large;
    height: 40px;
}